$color-bg: #302925;
$color-textbright: #fbfbfb;
$color-text: #dbdbdb;
$color-a: #ffaf00;
$color-code: #1e1e1e;
$color-util: #3ccf50;
$color-tweet: #007cc7;
$color-tweethover: #0b69a3;
$color-greyed: #a6a6a6;

$titleheight-big: 7rem;
$titleheight-med: 6rem;
$titleheight-sma: 4.5rem;

@mixin titlesize($height) {
  .title, .bird {font-size: $height;}
  .tooltip .tooltiptext {
    top: $height / 4;
    width: $height * 3.8;
    height: $height + ($titleheight-sma / $height);
    font-size: $height / 6;
    @if $height == $titleheight-sma {
      font-size: $height / 5.5;
    }
    padding: 5px 20px 5px 25px;
  }
  .flexpad-header {flex-basis: $height - 5rem;}
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.postlist {
  line-height: 1.8;
  list-style-position: inside;
  list-style-type: circle;
  .postlist-date {
    display: inline-block;
    color: $color-greyed;
  }
  .postlist-subtitle {display: none;}
  li {
    transition: all 0.1s ease-in-out;
    &:hover {
      list-style-type: disc;
      padding: 0 .5rem;
      .postlist-date {display: none;}
      .postlist-subtitle {
        display: inline-block;
        color: $color-greyed;
        font-size: 1.1rem;
      }
    }
  }
}




.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;
  flex-wrap: wrap;
  &.center {align-items: center;}
}

ul.flexrow {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bird {
  transition: all .1s ease-in-out;
  &:hover {transform: scale(1.1);}
}

@include titlesize($titleheight-sma);

.title {
  font-family: 'Yeseva One', cursive;
  color: $color-textbright;
}

.flexpad-header {
  flex-basis: 2rem;
  flex-shrink: 2;
}

header li {
  transition: all .1s ease-in-out;
  a {
    display: inline-block;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.nav-text {display: none;}

header {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}




body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: $color-text;
  background-color: $color-bg;
}

h1, h2 {
  font-size: 2rem;
  font-family: 'Rokkitt', serif;
  color: $color-textbright;
}

h1 {
  margin-bottom: 0;
}

.posttop-date {
  color: $color-util;
  font-weight: 700;
}

a {
  color: $color-a;
  text-decoration: none;
  &:hover {color: $color-textbright;}
}

code, pre {
  font-family: 'Inconsolata', monospace;
  background-color: $color-code;
  color: $color-text;
}

:not(pre) > code {
  padding: 5px;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 1.05rem;
}

article img {
  width: 100%;
  max-width: 40rem;
}

.hover-images {
  position: relative;
  display: inline-block;
  .img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover .img-hover {display: inline;}
}




footer .flexrow {
  padding-bottom: 20px;
}

.back-to-top a {
  display: inline-block;
  padding: 10px 30px 10px 10px;
  font-size: 2.5rem;
}

.tweet {
  a {
    padding: .4rem .8rem;
    border-radius: .3rem;
    font-size: 1.2rem;
    color: $color-textbright;
    background: $color-tweet;
    &:hover {background: $color-tweethover}
  }
  div {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 0 3px;
  }
}

.flexpad-footer {flex: 1;}

.copyright {font-size: 0.9rem;}




.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: $color-textbright;
  color: $color-bg;
  text-align: left;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  /* Tooltip appears to the right */
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Arrow on the left side of tooltip */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 99.8%; /* To the left of the tooltip */
  margin-top: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent $color-textbright transparent transparent;
}




@media only screen and (max-device-width: 470px) {
  .tooltip .tooltiptext {
    top: 0;
    width: $titleheight-sma * 2.4;
    height: $titleheight-sma * 1.5;
    font-size: $titleheight-sma / 6;
    padding: 5px 10px 5px 15px;
  }
}

@media only screen and (min-device-width: 769px) {
	body {
		width: 80%;
		margin: 0 auto;
  }
  @include titlesize($titleheight-med);
  .nav-text {display: block;}
  .nav-icon {display: none;}
}
@media only screen and (min-device-width: 1150px) {
	body {
		width: 60%;
		max-width: 1000px;
  }
  @include titlesize($titleheight-big);
}