html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5; }

.postlist {
  line-height: 1.8; }
  .postlist .postlist-date, .postlist .postlist-subtitle {
    display: none; }

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start; }
  .flexrow.wrap {
    flex-wrap: wrap; }
  .flexrow.center {
    align-items: center; }

ul.flexrow {
  margin: 0;
  padding: 0;
  list-style: none; }

.title, .bird {
  font-size: 3.5rem; }

.tooltip .tooltiptext {
  top: 0.875rem;
  width: 12.35rem;
  height: 4.5rem;
  font-size: 0.58333rem;
  padding: 5px 20px 5px 25px; }

.tooltip .tooltiptext::after {
  top: 50%; }

.flexpad-header-top {
  flex-basis: -1.5rem; }

.flexpad-header-bottom {
  flex-basis: 0.5rem; }

.tooltip .tooltiptext {
  font-size: 0.875rem;
  padding: 5px 10px 5px 15px;
  height: 7rem; }

.tooltip .tooltiptext::after {
  top: 35%; }

.flexpad-header-top {
  flex-basis: 0.5rem; }

.title {
  font-family: 'Yeseva One', cursive;
  color: #fbfbfb; }

.flexpad-header-top .flexpad-header-bottom {
  flex-shrink: 2; }

header li a {
  display: inline-block;
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1; }

.nav-text {
  display: none; }

header {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */ }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: #dbdbdb;
  background-color: #302925; }

h1, h2 {
  font-size: 2rem;
  font-family: 'Rokkitt', serif;
  color: #fbfbfb;
  line-height: 1; }

h1 {
  margin-bottom: 0;
  padding-top: 0.3rem; }

.posttop-date {
  color: #3ccf50;
  font-weight: 700;
  padding-top: 0.3rem; }

.posttop-subtitle {
  color: #a6a6a6;
  font-weight: 700; }

a {
  color: #ffaf00;
  text-decoration: none; }
  a:hover {
    color: #fbfbfb; }

code, pre {
  font-family: 'Inconsolata', monospace;
  background-color: #1e1e1e;
  color: #dbdbdb;
  word-break: break-all; }

:not(pre) > code {
  padding: 5px; }

pre {
  padding: 10px;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 1.05rem; }

article img {
  width: 100%;
  max-width: 40rem; }

.hover-images {
  position: relative;
  display: inline-block; }
  .hover-images .img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0; }
  .hover-images:hover .img-hover {
    display: inline; }

footer .flexrow {
  padding-bottom: 20px; }

.back-to-top a {
  display: inline-block;
  padding: 10px 30px 10px 10px;
  font-size: 2.5rem; }

.tweet a {
  padding: .4rem .8rem;
  font-size: 1.2rem;
  border-radius: .3rem;
  color: #fbfbfb;
  background: #007cc7; }

.tweet div {
  font-size: 1rem;
  font-weight: 700;
  padding: 0 0 0 3px; }

.flexpad-footer {
  flex: 1; }

.copyright {
  font-size: 0.9rem; }

.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltiptext {
  display: flex;
  align-items: center; }

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #fbfbfb;
  color: #302925;
  text-align: left;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  /* Tooltip appears to the right */
  left: 105%; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

/* Arrow on the left side of tooltip */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  right: 99.8%;
  /* To the left of the tooltip */
  margin-top: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #fbfbfb transparent transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  70% {
    transform: scale(1); }
  100% {
    transform: scale(0.95); } }

.bird, .hover-images {
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate; }
  .bird:hover, .hover-images:hover {
    animation-iteration-count: 0; }

@media only screen and (max-width: 768px) {
  .bird, .hover-images {
    animation-duration: 1s; } }

@media only screen and (min-width: 769px) {
  body {
    width: 80%;
    margin: 0 auto; }
  .title, .bird {
    font-size: 6rem; }
  .tooltip .tooltiptext {
    top: 1.5rem;
    width: 25.1rem;
    height: 6.58333rem;
    font-size: 1rem;
    padding: 5px 20px 5px 25px; }
  .tooltip .tooltiptext::after {
    top: 50%; }
  .flexpad-header-top {
    flex-basis: 1rem; }
  .flexpad-header-bottom {
    flex-basis: 8rem; }
  header li {
    transition: all .1s ease-in-out; }
    header li:hover {
      transform: scale(1.2); }
  .nav-text {
    display: block; }
  .nav-icon {
    display: none; }
  .postlist {
    list-style-position: inside;
    list-style-type: circle; }
    .postlist .postlist-date {
      display: inline-block;
      color: #a6a6a6; }
    .postlist .postlist-subtitle {
      display: none;
      color: #a6a6a6;
      font-size: 1.1rem; }
    .postlist li {
      transition: all 0.1s ease-in-out; }
      .postlist li:hover {
        list-style-type: disc;
        padding: 0 .5rem; }
        .postlist li:hover .postlist-date {
          display: none; }
        .postlist li:hover .postlist-subtitle {
          display: inline-block; }
  .tweet:hover {
    border-radius: .3rem; }
    .tweet:hover a {
      background: #0b69a3; } }

@media only screen and (min-width: 1150px) {
  body {
    width: 60%;
    max-width: 1000px; }
  .title, .bird {
    font-size: 7rem; }
  .tooltip .tooltiptext {
    top: 1.75rem;
    width: 30.2rem;
    height: 7.5rem;
    font-size: 1.16667rem;
    padding: 5px 20px 5px 25px; }
  .tooltip .tooltiptext::after {
    top: 50%; }
  .flexpad-header-top {
    flex-basis: 2rem; }
  .flexpad-header-bottom {
    flex-basis: 11rem; } }
